<div class="Main-container">
    <a routerLink="/"><img src="/Mainlogo.png" alt=""></a>
    
    <nav id="top-right-menu">
        <ul>
            <li><a routerLink="">Inicio</a></li>
            
            @if (!auth.isLogged) 
            {
                <li><a routerLink="/login">Ingresar</a></li>
            }

            @if (auth.isLogged) {
                <li class="profile-pic">
                    <button type="button" (click)="toggleMenu()">
                        <img class="avatar" [src]="auth.current?.imageUrl" alt="perfil"/>
                    </button>

                    <div class="dropdown" [class.open]="menuOpen">
      
                        <div class="name"> {{ auth.current?.name }} </div>
  
                        <button type="button" [routerLink]="['/edit-restaurant', auth.current?.id]" (click)="menuOpen = false">Editar</button>
                        <button type="button" (click)="logout()">Logout</button>
      
                    </div>
                </li>
            }

        </ul>
    </nav>
</div>