.header {
  background-color: var(--primary);
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__brand {
  display: inline-flex;
  align-items: center;
}

.header__logo {
  width: 200px;
  padding-left: 30px;
  display: block;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
  margin: 0;
  padding: 0 50px 0 0;
}

.header__link {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2px;
  color: black;
  display: inline-flex;
  align-items: center;
  transition: .2s;
}

.header__profile-btn {
  background: none;
  border: none;
  border-radius: 99px;
  padding: 0;
  cursor: pointer;
}

.header__link:hover {
  color: var(--cream);
  border-radius: 999px;
}

.header__item--profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.header__dropdown {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  z-index: 9999;

  min-width: 160px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .15);

  opacity: 0;
  transform: translateY(-8px);
  pointer-events: none;

  transition: opacity .2s ease, transform .2s ease;
}

.header__dropdown--open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.header__dropdown-item {
  width: 100%;
  border: 0;
  background: transparent;
  text-align: left;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: .8em;
}

.header__dropdown-item:hover {
  background: rgba(0, 0, 0, .06);
}

.header__dropdown-item--ownresto {
  font-weight: 600;
}
