* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - var(--header-h));
    padding-top: 50px;
}

/* New Product Page Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
    background-color: lightgray;
    border: 5px solid rgba(0, 0, 0, 0.398);
    width: 500px;
    font-size: 20px;
    padding: 10px 0 10px;
}

h1 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    padding: 10px 0;
}

/* CONTENEDOR DE DATOS DEL PRODUCTO */
#product-data-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

#product-data-container input {
    outline: none;
    width: 100%;
}

#product-data-container textarea, #product-data-container input {
    outline: none;
    font-size: 20px;
}

/* CONTENEDOR DE CADA CAMPO */
.product-field,
.product-field-full {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.product-field label {
    width: 100%;
}

.product-field input {
    height: 30px;
}

/* DESCRIPCIÓN */
.product-field-full {
    flex-direction: column;
    gap: 8px;
}

.product-field-full label,
.product-field-full textarea {
    width: 100%;
}

/* BOTÓN */
.btn-newcat {
    display: flex;
    justify-content: center;
}

.btn-newcat button {
    height: 30px;
    width: 150px;
    border-radius: 99px;
    border: none;
    background-color: var(--primary);
    transition: .3s;
    font-size: 1rem;
    cursor: pointer;
}

.btn-newcat button:hover {
    background-color: var(--phover);
    box-shadow: 1px 5px rgba(0,0,0,0.5);
}
