<div class="flex-center">
    <form #newProductForm="ngForm" (ngSubmit)="handleFormSubmission(newProductForm)">

        <h1> {{ isEdit ? 'Editar Producto' : 'Crear Producto' }} </h1>

        <section id="product-data-container">

            <div class="product-field">
                <label for="name">Nombre<span>*</span></label>
                <input id="name" type="text" name="name" ngModel #name="ngModel" required />


                @if (name.invalid && newProductForm.submitted) {
                @if (name.errors?.['required']) { <p class="error">Nombre obligatorio.</p> }
                @if (name.errors?.['minlength']) { <p class="error">Mínimo 2 caracteres.</p> }
                }
            </div>

            <div class="product-field-full">
                <label for="description">Descripción</label>
                <textarea id="description" rows="4" name="description" ngModel></textarea>
            </div>


            <div class="product-field">
                <label for="price">Precio *</label>
                <input id="price" type="number" name="price" ngModel #price="ngModel" required min="1" />

                @if (price.invalid && newProductForm.submitted) {
                @if (price.errors?.['required']) { <p class="error">Precio obligatorio.</p> }
                @if (price.errors?.['min']) { <p class="error">El precio debe ser mayor a 0.</p> }
                }
            </div>

            @if (isEdit) {
            <div class="product-field">
                <label for="discount">Descuento (%)</label>
                <input id="discount" type="number" name="discount" ngModel />
            </div>
            }

            <div class="product-field">
                <label for="urlImage">Imagen (URL)</label>
                <input id="urlImage" type="text" name="urlImage" ngModel />
            </div>

        </section>

        <div class="btn-newcat">
            <button type="submit">{{ isEdit ? 'Guardar Cambios' : 'Crear Producto' }}</button>
        </div>

    </form>
</div>