* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: var(--primary);
    border: 1px solid black;
}

.product-card img {
    padding-bottom: 10px;
}

.product-card-text-container { 
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}