* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: var(--primary);
    border: 1px solid black;
    transition: .3s;
}
    .product-card:hover {
        box-shadow: 2px 10px 10px 2px rgba(0, 0, 0, 0.75);
        background-color: var(--phover);
    }

.product-card img {
    padding-bottom: 10px;
}

.product-card-text-container { 
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.price-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}