<article class="product-card" [routerLink]="['/product-page', product().id_Product]"
    [ngClass]="{ 'card-hh': product().happyHour, 'card-featured': product().isFeatured && !product().happyHour }">


    <div class="img-product-container">
        <img [src]="product().urlImage || 'assets/restaurant-generic-img.jpg'" alt="imagen-producto" />
    </div>

    <div class="product-card-text-container">

        <h2> {{product().name}} </h2>
        <p> {{product().description}} </p>

        <div class="price-container">
            <h4 [class.tachado]="product().happyHour && (product().discount) > 0">
                ${{ product().price }}
            </h4>

            @if (product().happyHour && (product().discount) > 0) {
            <h4>HH <span>${{ getDiscountPrice() }}</span></h4>
            }
        </div>

    </div>
</article>