* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-card {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 100%;
    padding: 10px;
    background-color: var(--primary);
    border: 1px solid black;
    transition: .3s;
}

.product-card:hover {
    box-shadow: 2px 10px 10px 2px rgba(0, 0, 0, 0.75);
    background-color: var(--phover);
    cursor: pointer;
}

.product-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    padding-bottom: 10px;
}

.product-card-text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    flex: 1;
    min-height: 0;
}

.product-card-text-container h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-card-text-container p {
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-word;
}


.price-container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding-top: 10px;
}