<div class="product-card" [routerLink]="['/product-page', product().id_Product]">
    
    <div class="img-product-container">
        <img [src]="product().urlImage || 'assets/restaurant-generic-img.jpg'" alt="imagen-producto" />
    </div>

    <div class="product-card-text-container">

        <h2> {{product().name}} </h2>
        <p> {{product().description}} </p>

        <div class="price-container">
            <h4>{{ product().price }}</h4>  
            <h4>{{ getDiscountPrice() }}</h4>  
        </div>
        
    </div>
</div>