    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .flex-center {
        min-height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /**/
    .back-to-menu-btn {
        width: 100%;
        display: flex;
        padding-top: 20px;
        padding-left: 50px;
        padding-bottom: 50px;
        align-items: center;
    }

    .back-to-menu-btn a {
        background-color: var(--primary);
        border-radius: 99px;
        border: 1px solid black;
        padding: 10px;
        display: flex;
        align-items: center;
        transition: .2s;
    }

    .back-to-menu-btn a:hover {
        background-color: var(--cream);
    }

    .back-to-menu-btn img {
        width: 40px;
    }

    /**/

    .main-container {
        width: 100%;
        max-width: 1200px;
        border: 2px solid black;
        background-color: rgba(231, 228, 228, 0.918);
        margin-bottom: 120px;
    }

    /**/
    #main-banner {
        display: flex;
        border-bottom: 1px solid black;
        min-height: 500px;
        margin-bottom: 20px;
        /*BG BANNER*/
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        transition: .5s;
    }

    #main-banner:hover {
        box-shadow: 0px 10px rgba(0, 0, 0, 0.75);
    }

    .banner-info-positioning {
        margin-top: auto;
        width: 100%;
        height: 40%;
        display: flex;
        padding: 20px;
        flex-wrap: wrap;
        gap: 20px;
        background-color: rgba(236, 227, 227, 0.8);
    }

    #main-banner img {
        width: 200px;
        height: 160px;
        margin-top: auto;
        border: 2px solid black;
        border-radius: 99px;
    }

    .banner-info {
        margin-top: 15px;
    }

    .banner-info p {
        max-width: 600px;
    }

    /*FIN BANNER*/

    /*CATEGORIES*/
    #categories-container-0 {
        margin-top: 20px;
        gap: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .categories-container-1 {
        background-color: rgba(231, 228, 228, 0.637);
        display: flex;
        gap: 20px;
        padding: 10px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        scrollbar-width: none;
        border: 1px solid rgba(0, 0, 0, 0.183);
    }

    /*PRODUCTS*/
    #products-container-0 {
        background-color: rgba(231, 228, 228, 0.637);
        gap: 50px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    //////////////////////CONTENEDORES MAIN DE PRODUCTOS POR CATEGORIA//////////////////////
    .container-for-category {
        height: auto;
        border: 1px solid rgba(0, 0, 0, 0.183);
    }

    .category-header {
        //Div Title + button "+"
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 10px;
    }

    .category-header button {
        background-color: var(--primary);
        width: 40px;
        height: 40px;
        border-radius: 99px;
        transition: .3s;
    }

    .category-header button:hover {
        background-color: var(--phover);
        box-shadow: 3px 3px rgba(0, 0, 0, 0.75);
        cursor: pointer;
    }


    .products-container-1 {
        display: flex;
        padding: 20px;
        gap: 20px;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;
    }

    .products-container-1 product-card {
        flex: 0 0 300px;
        max-width: 300px;
        display: block;
    }