<div class="flex-center">

    <div class="back-to-menu-btn">
        <a routerLink=""><img src="/back-to-menu.svg" alt=""></a>
    </div>

    <!-- ////////////////////////////// -->
    <div class="main-container">
        <!-- //////////// BANNER  //////////// -->
        <section id="main-banner"
            [style.background-image]="'url(' + (restaurant?.bgImage || '/restaurant-generic-img.jpg') + ')'">

            <div class="banner-info-positioning">
                <img class="restaurant-logo" [src]="restaurant?.imageUrl || '/restaurant-generic-img.jpg'"
                    alt="restaurant logo" />

                <div class="banner-info">
                    <h1>{{ restaurant?.name }}</h1>
                    <p>{{ restaurant?.description }}</p>
                </div>
            </div>
        </section>
        <!--  -->

        <!-- //////////////  PILLS   //////////////// -->
        <section id="categories-container-0">

            <div class="pills-plus">
                <div class="categories-container-1">
                    @for (c of categories; track c.Id_Category) {
                    <category-pill [category]="c" (click)="selectCategory(c.Id_Category)"
                        [class.selected]="selectedCategoryId === c.Id_Category"></category-pill>
                    }
                    @empty
                    {
                    <p>No hay categorías.</p>
                    }

                </div>
                <!--  -->

                @if (auth.isLogged && auth.restaurantId === restaurant?.id) {
                <div class="category-btn-container">
                    <button class="add-category-btn btn-pencil" type="button" (click)="updateSelectedCategory()"
                        [disabled]="selectedCategoryId === null" [class.is-disabled]="selectedCategoryId === null">
                        <img src="/pencil.svg" alt="">
                    </button>
                    <button class="add-category-btn" type="button" (click)="deleteSelectedCategory()"
                        [disabled]="selectedCategoryId === null" [class.is-disabled]="selectedCategoryId === null">
                        -
                    </button>
                    <a [routerLink]="['/create-category', id()]"><button class="add-category-btn"
                            type="button">+</button>
                    </a>
                </div>
                }

            </div>

        </section>

        <!-- /////////////////CONTAINER Y PRODUCT CARDS//////////////// -->

        <section id="products-container-0">

            @for (c of categories; track c.Id_Category) {

            @if (selectedCategoryId === null || selectedCategoryId === c.Id_Category) {
            <section class="container-for-category">

                <div class="category-header">
                    <h2>{{ c.Name }}</h2>

                    @if (auth.isLogged && auth.restaurantId === restaurant?.id) {

                    <a [routerLink]="['/new-product-page', restaurant?.id, c.Id_Category]">
                        <button class="add-product-btn" type="button">+</button>
                    </a> <!-- (click)="createProduct(c.Id_Category)" -->
                    }
                </div>

                <div class="products-container-1">
                    @for (p of selectedProducts; track p.id_Product) {
                    <product-card [product]="p"></product-card>
                    }
                    @empty {
                    <p>La categoría no contiene productos aún.</p>
                    }
                </div>

            </section>
            }
            }
            @empty
            {
            <p>No hay categorías para mostrar productos.</p>
            }

        </section>
    </div>
</div>