* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.category-pill {
    background-color: var(--primary);
    border-radius: 99px;

    padding: 10px 20px;
    box-sizing: border-box;
    transition: .3s;
}

.category-pill:hover {
    background-color: var(--phover);
    cursor: pointer;
}