* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-center {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/imgs/fondocuchillo-register.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    border: 2px solid black;
    background: transparent;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(1px);
    
    min-width: 50%;
}

.main-image-title-container {
    //Container general de imagen de cubiertos y h2
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

.utils-crossed-container {
    //Container de imagen de cubiertos
    background-color: var(--cream);
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 99px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
}

.utils-crossed-container img {
    width: 60px;
}

.campos-input {
    //Section contenedora de campos 
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.hidden-edit {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.hidden-edit[hidden] {
    display: none !important;
}

.inputs-container-individual {
    //Lo dice el nombre 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 3px;
}

.error {
  display: block;
  width: 100%;
  margin-top: 5px;
  color: red;
  font-size: 0.9rem;
  margin-left: 40%;
}
.errorSubmit {
    color: red;
    font-size: 1.1rem;
}


label {
    font-weight: 500;
}

span {
    color: red;
}

input,
textarea {
    min-width: 60%;
    max-width: 50%;
    outline: none;
}

#description {
    height: 80px;
}


.btn-container {
    //Seccion final. Btn register y opcion login //Contenedor general de elementos
    border-top: 2px solid black;
    padding: 30px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#agregar {
    //btn
    height: 50px;
    width: 40%;
    cursor: pointer;
    font-size: 20px;
    color: black;
    border: 1px solid black;
    border-radius: 99px;
    background-color: var(--cream);
    transition: .3s;
}

#agregar:hover {
    background-color: orange;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    border: none;
}

.btn-container p {
    //Ya tienes cuenta?
    font-size: 20px;
    margin-top: 10px;
}

.btn-container a {
    //a de inicia sesion
    padding: 0px 10px;
    color: black;
    text-decoration: none;
    border-radius: 99px;
    background-color: var(--cream);
}