.item-container {
    display: flex;
    align-items: center;
    gap: 20px;
    
    min-height: 150px;
    max-height: 150px;
    padding: 10px;
    border: 1px solid lightgray;
    transition: .4s;
    cursor: pointer;
}

.item-container:hover {
    background-color: rgba(177, 187, 187, 0.732);
    background-color: rgb(223, 166, 60);
    box-shadow: 4px 8px 5px 0px rgba(0, 0, 0, 0.75);
}

.restaurant-info-container {
    width: 90%;
    height: 150px;
    max-height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

//////////////////////////////////////////////
.restaurant-info-container h3,
.restaurant-info-container p {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
    line-height: 1.2;
    overflow: hidden;
}

.restaurant-info-container h3 {
    max-height: 45px;
    height: 45px;
}

.restaurant-info-container p {
    max-height: 100px;
    height: 100px;
}

//////////////////////////////////////////////

.img-container {
    width: 150px;
    height: 150px;
    flex: 0 0 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-self: center;
}

.img-logo-restaurant {
    //imagen de restaurant
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

.svg-text {
    display: flex;
    flex-wrap: wrap;
}