@font-face {
  font-family: 'nexa';
  src: url("/src/fonts/nexa/Nexa-ExtraLight.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
    --cream: #f0f0dd;
    --primary: #f34444;
    --color-on-primary: #d77373;
    --secondary: #e2e4d1;
    --phover: #e66666;
    --bgwhite: #f0ebe1;
    --font-sans: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --nexa: "nexa", sans-serif;
    --header-h: 130px;

}

body {
    font-family: var(--font-sans);
    margin: 0;
}