@font-face {
  font-family: 'nexa';
  src: url("/src/fonts/nexa/Nexa-ExtraLight.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
    --primary: #e82020;
    --phover: #e16f6f;
    --cream: #f0f0dd;
    --secondary: #e2e4d1;
    
    --bgwhite: #f0ebe1;

    --featured: gold;
    --hh: rgb(237, 164, 38);

    --font-sans: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --nexa: "nexa", sans-serif;
    
    --header-h: 130px;
}

body {
    font-family: var(--font-sans);
    margin: 0;
}